<%- include("partials/header.ejs") %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron">
        <h1>Andrew F. Butler</h1>
        <p>Write some interesting text in this paragraph!</p>
        <Button class="btn btn-success">About Me</Button>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
