<%- include("partials/header.ejs") %>

<header id="showcase">
  <img src="./imgs/profile.jpg" alt="" />
  <h1 class="text-center">
    Hello, <br />
    My Name is Andrew.
  </h1>
  <p>
    I am working for Skywest Airlines as a first officer and in my free time I
    like to dabble around and create projects. <br />
    Thanks for stopping by. <br />Please feel free to look around and contact me
    with any questions.
  </p>
  <a href="#" class="button mb-5">Download CV</a>
  <%- include("partials/footer.ejs") %>
</header>
