<%- include("partials/header.ejs") %>

<div class="container title">
  <h1 class="display-1 text-center mt-2">Project Portfolio</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="./imgs/FAQ-image.jpg" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Small Business FAQ</h5>
          <p class="card-text">
            A frequently asked questions page for a small business.
          </p>
          <a
            href="https://eloquent-sinoussi-460822.netlify.app/"
            class="btn btn-primary mt-auto"
            >View Project</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1442213391790-7656f6e368b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Weather App</h5>
          <p class="card-text">
            Weather App using Node, Express and EJS. This was a fun little
            project to make a weather app that used an open weather API to get
            weather data for a specific city.
          </p>
          <a
            href="https://git.heroku.com/weather-app-0522.git"
            class="btn btn-primary mt-auto"
            >View Project</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1638290815258-49d7b07df2c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Link and Personal Profile Page</h5>
          <p class="card-text">
            A page I created for my wife and her small business. It has an
            embedded intro video along with links to videos and other pages to
            support her small business.
          </p>
          <a
            href="https://www.activatedbeth.com"
            class="btn btn-primary mt-auto"
            >View Project</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1453906971074-ce568cccbc63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Flashcard App</h5>
          <p class="card-text">
            I had some annual training coming up and instead of using Quizlet
            (how boring!), I created my own flashcard study app.
          </p>
          <a
            href="https://cq-flashcards.netlify.app/"
            class="btn btn-primary mt-auto"
            >View Project</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1611125832047-1d7ad1e8e48f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Quote Calculator</h5>
          <p class="card-text">
            This is a quote calculator I built for a small business I was
            working for. The basic idea is that the user inputs the quantity and
            the calculator figures out rates.
          </p>
          <a href="#" class="btn btn-primary mt-auto">View Project</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Stock Tracker</h5>
          <p class="card-text">
            This is a stock tracking page I built for my son and step-son to
            track the stocks they were investing in.
          </p>
          <a
            href="https://daboysfatstacksapp.netlify.app/"
            class="btn btn-primary mt-auto"
            >View Project</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1617575521317-d2974f3b56d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">A Story from the Backseat</h5>
          <p class="card-text">
            I had an idea while I was driving Lyft to try and collect stories
            from the passengers. This page is just a simple form to be used to
            collect people's stories. It uses the Netlify form handler to handle
            the form submissions.
          </p>
          <a
            href="https://daboysfatstacksapp.netlify.app/"
            class="btn btn-primary mt-auto"
            >View Project</a
          >
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
</div>
