body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../imgs/trees.jpg");
    /* url("https://images.unsplash.com/photo-1570710891163-6d3b5c47248b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
    background-size: cover;
    background-position: center;
}

.jumbotron {
    color: black;
    /* background-color: rgba(116, 168, 146, 0.5); */
    height: 20vh;
    text-align: center;
    margin-top: 5vh;
}

.jumbotron h1 {
    font-size: 2.1rem;
    color: rgba(255, 255, 255, 1);
}

.jumbotron p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);

}

footer {
    margin-top: 40vh;
    text-align: center;
    font-size: 1rem;
    color: gray;
}

#profile-picture {
    height: 300px;
    width: 250px;
    display: flex;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 0.9;
    border: 3px solid white;
    margin-top: 2vh;

}

.card {
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card .btn {
    width: 100%;
}