body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1486912500284-6f2462ba07ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1485&q=80");
    background-size: cover;
    background-position: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../imgs/trees.jpg"); */
    /* url("https://images.unsplash.com/photo-1570710891163-6d3b5c47248b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */

    font-size: 17px;
    color: white;
    line-height: 1.6;
}

.navbar a {
    color: white;
}

#showcase {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1486912500284-6f2462ba07ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1485&q=80");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

#showcase img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
}

#showcase h1 {
    font-size: 50px;
    color: #aa6b35;

}

#showcase p {
    font-size: 20px;
    color: #aa6b35;
    text-align: center;

}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #926239;
    border: 1px solid rgb(153, 153, 153);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#showcase .button:hover {
    background-color: #926239;
    color: #fff;
}


footer {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: gray;
}


.card {
    margin-bottom: 10px;
    /* background-color: rgba(128, 128, 128, 0.8); */
    background-color: #4b5453;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 400px;
    border: 2px solid rgba(255, 255, 255);

}

.card-img-top {
    max-height: 170px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-body {
    font-size: 0.8rem;
    color: rgba(255, 255, 255);
    text-align: center;
    margin-top: 2px solid white;
}

.card .btn {
    width: 100%;
    background-color: #744c3c;
    border: 1px solid black;
}

#contactForm {
    width: 90%;
    margin: 0 auto;
}

.title h1 {
    margin-bottom: 20px;
}